<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>7375EE9C-7662-4705-91C2-DF9756317B7C</string>
	<key>title</key>
	<string>Teal</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
